@import url('https://fonts.googleapis.com/css?family=Angkor');

body {
    background-color: hsl(0, 34%, 82%);
    font-family: Angkor, cursive;
    padding-bottom: 50px;
    background-size: 30px 30px;
    background-image:
    linear-gradient(to right, rgb(147, 53, 53) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(101, 41, 41) 1px, transparent 1px);
    text-align: center;
}

.title {
    font-size: 100px;
    color: rgb(208, 21, 0);
}

h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}